.abc{
    background-color:rgb(223, 226, 27) ;
    height:100px;
    width: 100px;
    display: flex;
    margin:300px;
    align-items:center;
    justify-content:center;
    animation:  余豪式膨胀 5s;
    animation-iteration-count: infinite;
}
@keyframes 余豪式膨胀 {
    0%{
        background-color:rgb(223, 226, 27) ;
        height:200px;
        width: 200px;
        display: flex;
        margin:300px;
        transform: translate(0, 0) rotate(0deg) skew(0deg,0deg)  ;
       

    }
    25%{
        background-color:rgb(160, 34, 17) ;
    height:50px;
    width: 50px;
    display: flex;
    margin:300px;
   transform: translate(100px, 100px) rotate(30deg) skew(20deg,20deg);
   border-radius: 25px;
   
    }
    50%{
        background-color:rgb(42, 9, 102) ;
    height:150px;
    width: 150px;
    display: flex;
    margin:300px;
    transform: translate(150px, 150px) rotate(60deg) skew(55deg,55deg) ;

    }
    75%{
        background-color:rgb(160, 34, 17) ;
    height:50px;
    width: 50px;
    display: flex;
    margin:300px;
    transform: translate(100px, 100px) rotate(30deg) skew(20deg,20deg);
    border-radius: 25px;
    }
    100%{
        background-color:rgb(223, 226, 27) ;
    height:200px;
    width: 200px;
    display: flex;
    margin:300px;
    transform: translate(0, 0) rotate(0deg) skew(0deg,0deg);
    }
}
